[tool.black]
target-version = ['py37']


[tool.towncrier]
package = "stackscope"
filename = "docs/source/history.rst"
directory = "newsfragments"
underlines = ["-", "~", "^"]
issue_format = "`#{issue} <https://github.com/oremanj/stackscope/issues/{issue}>`__"


[tool.pytest.ini_options]
xfail_strict = true
faulthandler_timeout = 60
filterwarnings = ["error"]
